APP_HOST=0.0.0.0
APP_PORT=8080
APP_EXTERNAL_PORT=8081

DB_HOST=postgres
DB_PORT=5432
DB_EXTERNAL_PORT=5433
DB_NAME=daily
DB_USER=daily
DB_PASSWORD=daily
DB_SCHEMA=public
DB_SSL=false

FLYWAY_ENABLED=true
FLYWAY_LOCATION=classpath:db/migration
SEED_ENABLED=true
RECURRENCE_MAINTENANCE_ENABLED=true
RECURRENCE_MAINTENANCE_INTERVAL_HOURS=24
